.image {
    background-color: white;
    background-image: url(wp8170161-solo-leveling-4k-desktop-wallpapers.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
*{
    margin: 0%;
    padding: 0%;
}
.image_2 {
    background-color: rgb(121, 228, 247);
    height: 40px;
}
.image_3 {
    width: 80%;
    height: 36px;
    margin: auto;
    border: 2px solid lightslategrey;
    text-align: right;
    line-height: 36px;
}
.loginbutton {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: purple;
}
.createbutton {
    display: inline-block;
    background-color: transparent;
    color: purple;
    margin-right: 2px;
    padding: 2px;
    border: 2px solid purple;
}